.main{
     width: 100%;
     height: auto;
     background: #18304D;
}

.row{
       padding-top: 15%;
}

.main__box{
         display: flex;
          justify-content: space-between;
}

.main__text{
     display: flex;
     padding-top: 20%;
}

.main__title{
     font-style: normal;
     font-weight: normal;
     font-size: 46px;
     line-height: 62px;
     letter-spacing: 0.1em;
     color: #BBA390;
}

.main__subtitle{     
      padding-top: 16px;
     font-style: normal;
     font-weight: 300;
     font-size: 16px;
     line-height: 32px;
     color: #8CAAC8;
}

.main__minititle{
     font-style: normal;
     font-weight: normal;
     font-size: 24px;
     line-height: 50px;
     letter-spacing: 0.06em;
     text-transform: uppercase;
     color: #FFFFFF;
}

.img{
     padding-top: 20%;
}


.main__icons{
      display: flex;
      column-gap: 16px;
}

@keyframes slidein {
     from {
          border-bottom: 1px solid white;
          width: auto;
          height: auto;
     }
   
     to {
          width: auto;
          height: auto;
     }
   }

.main__Link{  
    text-decoration: none;
}

.main__Link:hover{
     animation-duration: 5s;
     animation-name: slidein;
     animation-iteration-count: infinite;
}

.main__img{
     padding-top: 10px;
}

